@import "theming";

.ngxmdp .selectorarrow {
  background: #fff;
}

.ngxmdp .selector {
  border: none !important;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .1);
}

.yearcell.selectedyear,
.monthcell.selectedmonth,
.daycell.selectedday {
  background-color: $bdb-color-dark-2 !important;
  color: #fff !important;
}

.ngxmdp .selectedday .datevalue,
.ngxmdp .selectedmonth .monthvalue,
.ngxmdp .selectedyear .yearvalue {
  background-color: transparent !important;
  text-decoration: none !important;
}

.ngxmdp .markcurrday,
.ngxmdp .markcurrmonth,
.ngxmdp .markcurryear {
  text-decoration: none !important;
}

.ngxmdp .selectorarrow:before {
  border-bottom-color: rgba(0, 0, 0, .1);
}
