@import "theming";

.uk-button {
  border-radius: 30px;
  border: none;
  text-transform: none;
  transition: all 400ms;
  text-align: center;

  &:hover {
    box-shadow: 0 5px 8px rgba(#000, .2);
  }

  &:disabled {
    box-shadow: none;
  }

  &.uk-button-primary {
    background-color: $bdb-color;

    &:hover {
      background-color: $bdb-color-light;
    }

    &:focus {
      background-color: rgba($bdb-color-light, .7);
    }

    &:disabled {
      background-color: rgba($bdb-color-light, .2);
      color: #fff;
    }
  }

  &.uk-button-danger {
    background-color: rgba($danger-color, .2);
    color: $danger-color;

    &.forte {
      background-color: rgba($danger-color, .6);
      color: #fff;
    }

    &:focus {
      background-color: rgba($danger-color, .4);
      color: #fff;
    }
  }

  &.uk-button-warning {
    background-color: rgba($bdb-orange-dark, .1);
    color: $bdb-orange-dark;

    &:focus {
      background-color: rgba($bdb-orange-dark, .4);
      color: #fff;
    }
  }

  &.uk-button-success {
    background-color: rgba($success-color, .1);
    color: $success-color;

    &:disabled {
      background-color: rgba($success-color, .05);
      color: rgba($success-color, .5);
    }

    &:focus {
      background-color: rgba($success-color, .4);
      color: #fff;
    }
  }

  &.bb-b-150 {
    width: 150px;
  }

  &.bb-b-200 {
    width: 200px;
  }

  &.bb-b-spinner {
    width: 90px;
  }
}

.uk-button-dark {
  background-color: rgba(black, .04);
  line-height: 1.2;
  padding: 10px 25px;
  border-radius: 10px;
  overflow: hidden;
}
