<section class="unauthorized">
  <div class="intro uk-animation-shake">
    <div class="icon">
      <fa-icon [icon]="['fas', 'user-lock']"></fa-icon>
    </div>
    <div class="bb-text">
      No tienes permiso para ingresar a esta aplicación.
      <br>Solicita el grupo de usuario correspondiente para acceder a la sección que necesitas.
    </div>
    <div class="bb-btn-backto uk-text-right uk-margin-small-top">
      <button class="uk-button uk-button-primary" (click)="backToDashboard()">
        Salir
      </button>
    </div>
  </div>
</section>
